@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200&display=swap');
:root {
    --cor1: #8d6e25;
    --cor2: #EFF0ED;
    --cor3: white;
    --cor4: black;

    --fonte-titulos: 'Zen Antique', sans-serif;
    --fonte-padro: 'Source Serif Pro', serif
}

body {
    background-color: white;
    margin: auto;
}
header {
    color: var(--cor1);
    background-color: var(--cor2);
    height: auto;
    min-width: 385px;
    max-width: 1349px;
    border-style: solid;
    border-color: #8d6e2556;
    margin: auto;
}
header h1 {
    font-size: 3em;
    font-family: var(--fonte-titulos);
    padding-top: 0px;
    margin-top: 6px;
    margin-right: 20px;
    margin-bottom: -5px;
}
nav.top {
    color: var(--cor4);
    text-align: right;
    height: 28px;
    padding-top: 5px;
    margin-top: 2px;
    margin-left: -16px;
    background: rgb(255, 255, 255, 0,25);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 1349px;
}
nav a.top {
    text-decoration: none;
    color: black;
    font-size: 11px;
    background: rgb(255, 255, 255, 0,25);
    backdrop-filter: blur(6px);

}

nav a:hover {
    background-color: var(--cor1);
    padding: 10px;
}

summary {
    font-size: 15px;
    padding: 10px;
    background: rgb(255, 255, 255, 0,25);
    backdrop-filter: blur(6px);

}
div#imagem {
    text-align: left;
    padding: 35px 0px 0px 15px;
}
div#titulo {
    text-align: right;
    /*padding-right: 230px;*/
} 
p#cabecalho {
    color: var(--cor1);
    font-family: var(--fonte-padro);
    font-size: 15px; 
    margin-right: 20px;
    padding-bottom: 20px;
}
p#ident {
    font-size: 13px;
    margin-right: 20px;
    color: var(--cor1);
}
input#button {
    margin-right: 16px;
}
main {
    /*display: grid;
    grid-template-columns: 200px 800px;*/
    /*display: block;*/
    /*position: absolute;*/
    min-width: 385px;
    max-width: 1000px;
    height: auto;
    padding: 5px 25px 0px 25px;
    margin: auto;
    margin-bottom: 200px;
    text-align: justify;
    text-indent: 30px;
    border: solid;
    border-color: #8d6e2556;
}
div#daho {
    text-align: left;
    font: oblique normal 15px Times;
    margin-bottom: 10px;
    margin-left: 15px;
}
article#primeiro::first-letter {  /*pra deixar a primeira letra diferente*/
    font-size: 3em;
}

p {
    color: var(--cor4);
    font-family: var(--fonte-padro);
    font-size: 1.1em;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bolder;
    line-height: 37px;
    letter-spacing: 1,5px;
}
p.email {
    text-indent: 0px;
}

h2 {
    font-size: 2.3em;
    font-weight: bold;
    font-family: var(--fonte-padro);
    color: var(--cor1);
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    text-decoration: underline;
}

li {
    padding-bottom: 10px;
    
}
li a {
    color: var(--cor1);
    text-align: left;
}
section {
    /*position: relative;*/
    min-height: 800px;
    max-height: auto;
}
nav.canto {
    height: 150px;
    color: var(--cor4);
    width: 355px;
    background-color: var(--cor2);
    padding: 3px 0px 9px 5px;
    border-radius: 9px;
    margin-bottom: 25px;
}
input.email {
    text-align: right;
    margin-bottom: 10px;
}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: var(--cor3);
    background-color: var(--cor1);
    text-align: center;
    height: 20px;
}
