@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200&display=swap');
:root {
    --cor1: #8d6e25;
    --cor2: #EFF0ED;
    --cor3: white;
    --cor4: black;

    --fonte-titulos: 'Zen Antique', sans-serif;
    --fonte-padro: 'Source Serif Pro', serif
}
body {
    background-color: white;
    margin: auto;
}
header {
    color: var(--cor1);
    background-color: var(--cor2);
    height: 35vh;
    width: 98.7vw;
    border-style: solid;
    border-color: #8d6e2556;
    margin: auto;
}
.menu {
    color: var(--cor4);
    text-align: right;
    height: 65px;
    padding-top: 5px;
    margin-top: 4px;
    padding-right: 17px;
    background: rgb(218, 116, 43, 0,25);
    backdrop-filter: blur(3px);
    position: fixed;
    width: 98.3vw;
    display: flex; /*fica na tag pai*/
    flex-direction: row; 
    justify-content: flex-end;
    align-items: baseline;
    gap: 12px;
}
a {
    padding: 5px;
    color: var(--cor1);
    text-align: left;
}
.secao-links {
    gap: 12px;
}
.top {
    text-decoration: underline;
    color: black;
    font-size: 15px;
    gap: 10px;
    background: rgb(255, 255, 255, 0,25);
    backdrop-filter: blur(6px);
}
nav a:hover {
    background-color: var(--cor1);
}
summary {
    font-size: 15px;
    padding: 10px;
    background: rgb(255, 255, 255, 0,25);
    backdrop-filter: blur(6px);
}
.header-imagem-titulo {
    padding-top: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
div#titulo {
    text-align: right;
}
header h1 {
    font-size: 3em;
    font-family: var(--fonte-titulos);
    padding-top: 0px;
    margin-top: 6px;
    margin-right: 20px;
    margin-bottom: -5px;
}
p#cabecalho {
    color: var(--cor1);
    font-family: var(--fonte-padro);
    font-size: 15px; 
    margin-right: 20px;
    padding-bottom: 20px;
}
p#ident {
    font-size: 13px;
    margin-right: 20px;
    color: var(--cor1);
}
input#button {
    margin-right: 16px;
}
main {
    display: flex;
    width: 80vw;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
    text-align: justify;
    text-indent: 30px;
    gap: 5px;
    align-items: baseline;
}
div#daho {
    text-align: left;
    font: oblique normal 15px Times;
    margin-bottom: 10px;
    margin-left: 15px;
}
article#primeiro::first-letter {  /*pra deixar a primeira letra diferente*/
    font-size: 3em;
}
p {
    color: var(--cor4);
    font-family: var(--fonte-padro);
    font-size: 1.1em;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bolder;
    line-height: 37px;
    letter-spacing: 1,5px;
}
p.email {
    text-indent: 0px;
    color: var(--cor3);
}
h2 {
    font-size: 2.3em;
    font-weight: bold;
    font-family: var(--fonte-padro);
    color: var(--cor1);
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}
.secao-principal {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}
nav.canto {
    font-size: 15px;
    height: fit-content;
    min-width: 50px;
    max-width: fit-content;
    color: var(--cor4);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.links-lista {
    background-color: var(--cor2);
    padding: 7px;
    border-radius: 5px 0px;  
}
.links-canto {
    color: var(--cor4);
    padding: 5px;
}
.div-email {
    padding: 7px;
    margin-bottom: 5px;   
}
input.email {
    text-align: right;
    margin-bottom: 10px;
}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: var(--cor3);
    background-color: var(--cor1);
    text-align: center;
    padding: 10px;
    height: fit-content; 
}
.para-footer {
    border-top: solid var(--cor3);
}